.dbInfo {
  display: grid;
  -ms-grid-columns:  0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  padding-bottom: 12px;
}

.dbLink li, .dbLink li a {
  font-weight: bold;
}

.infoValue {
  white-space: pre;
  grid-column: 2;
  margin-bottom: 0;
}

.infoValue p, p.infoValue {
  white-space: normal;
}