.subjectFacets {
  display: block;
  font-size: 1.1em;
  text-decoration: none;
}

.subject {
  display: flex;
  padding: 2px 4px;
}

.subjectLink {
  color: #417D8B;
  text-decoration: none;
  padding: 4px;
}
.subjectLink:hover, .subjectLink:active {
  background: rgba(0, 0, 0, .1);
}
