.legacy-news-card {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
}

.legacy-news-card a {
  color: #5D6A83;
  display: block;
  text-decoration: none;
}

.legacy-news-card h2 {
  color: #001E45;
  font-size: 22px;
  font-family: GPMed, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

.legacy-news-card .description {
  margin-top: 8px;
}

.legacy-news-image {
  width: 100%;
}

.legacy-news-image-container {
  margin-right: 15px;
  border: 2px solid #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
}

@media screen and (min-width: 621px) {
  .legacy-news-card {
    flex-direction: row;
  }

  .legacy-news-image {
    width: 225px;
  }
}