@media screen and (max-width: 980px) {
  .side-nav {
    display: block;
    position: relative !important;
    transform: translateX(0) !important;
    width: 100% !important;
  }
  .alphabet {
    display: inline;
  }
}

.database-list {
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
