# See https://help.github.com/ignore-files/ for more about ignoring files.

/config/secrets.js

.serverless/

# dependencies
node_modules/
babel_cache/

# testing
/coverage

# production
/build
/public/*.json
/public/secure

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

deployEnv
