.modalThumbnail {
  width: 100%;
  cursor: pointer;
}
.modalHeader {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  justify-content: space-around;
}
.modalOverlay {
  display: flex;
  align-items: center;
}
.modalImageContainer {
  display: flex;
  justify-content: center;
}
.modalImage {
  max-width: 100%;
  max-height: calc(100vh - 3rem - 8px);
}
.modalPhotoOuterContainer {
  height: auto;
  margin: 0 auto;
}
/* allow modal to take up more of the screen if either small height or width. Basically removes top & bottom margin */
@media only screen and (min-width: 48em) and (min-height: 650px) {
  .modalImage {
    max-height: calc(100vh - 9rem - 8px); /* 3rem margin top + 3rem margin bottom + header height (3rem + 8px padding) */
  }
  .modalPhotoOuterContainer {
    height: auto;
  }
}