.right .service-point h4 {
	font-family: GPCMed, sans-serif;

}

.right .service-point h4 {
	grid-template-columns: 5fr 1fr;
	background: #fff;
}

.right .location {
	padding: 10px;
	grid-column-start: 1;
	grid-column-end: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	display: none;
}

.right .service-point {
	border-top: none;
	padding-top: 0;
}


.right .today {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 2;
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
}

.right .ecarrow {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-row-start: 1;
	grid-column-start: 2;
	grid-column-end: 3;
}

.right .expand, .right .collapse {
	margin-right: 10px;
	display: block;

}

.right .col-md-4 {
	width: 100%;
	flex-basis: 100%;
    max-width: 100%;
}

.right .point h4 {
	font-size: 22px;
	font-family: GPCBold, sans-serif;
}