.Home .hlhome {
	padding: 32px 0 30px;
}

.Home #banner .container-fluid {
	background-image: url('../images/jesus.gif');
}

.Home #banner {
	height: 100px;
}

.Home #drawer {
	  top: 203px;
}

.main {

}

.Home .login {
	top: 80px;
}

.Home .logout {
	top: 79px;
}

.Home .header-hours {
	margin-top: 30px;
	display: none;
}

.hlhome {
	padding: 32px 0 30px;
}

#banner .container-fluid {
	background-image: url('/images/jesus.2.png');
}

#banner {
	height: 100px;
}

#drawer {
	  top: 203px;
}

#wrapper {
	display: block;
}


.main {

}

.login {
	top: 80px;
}

.logout {
	top: 79px;
}

.header-hours {
	margin-top: 30px;
	display: none;
}

.hlhome span {
	bottom: 1.2em;
}

.home nav a.search {
	display: none !important;
}



