.hlhome {
	padding: 32px 0 30px;
}

#banner .jesus {
	background-image: url('static/images/jesus.2.png');
}

#banner {
	height: 100px;
}

#drawer {
	  top: 203px;
}

#wrapper {
	display: block;
}





.main {

}

.login {
	top: -65px;
}

.logout {
	top: -66px;
}

.header-hours {
	margin-top: 30px;
	display: none;
}

.hlhome span {
	bottom: 1.2em;
}


nav a.search {
	display: none;
}

