.home .content {
  min-height: initial;
}

.home .exhibitsContainer {
	border-top: solid 2px #56ABBD;
	border-bottom: solid 2px #FFD000;
	position: relative;
}

@media screen and (min-width: 62em) {
	.home .exhibitsContainer .viewAll {
		max-width: 22.5%;
	}
}

/* css trick to give background image an opacity value */
.home .exhibitsContainer::before {
	background: url("../../static/images/marble.png");
	background-size: auto;
	opacity: 1;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

@media screen and (max-width: 620px) {
  .home .exhibitsContainer::before {
    background-size: cover;
  }
}

.home .exhibitsContainer .content {
	padding: 1em 0;
}
