.itemListGlobalActions button {
  padding: 5px 5px;
  margin: -5px 5px 5px 0;
}

.export {
  position: relative;
}

.exportOptions {
  border: 2px solid #56ABBD;
  margin-top: -5px;
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 1000;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  box-sizing: border-box;
  outline-style: none;
}
.exportOptions.hidden{
  display: none;
}
.exportOptions ul {
  background-color: transparent !important;
  width: auto !important;
  outline-style: none;
}

.container {
  display: inline-block;
  position: relative;
}