.contactNews {
	margin: 4em 0;
    padding: 16px 10px 0;
    border:  solid #aaa;
    border-width: 2px 0;
    color: #6F7275;
}

.contactNews * {
	color: #6F7275;
	font-size: 14px;
	font-weight: bold;
}

.contactNews a {
	color: #417d8b;
}