.event-card {
  clear: left;
  display: flex;
  align-items: stretch;
}

.event-card img {
  float: left;
  border: solid 2px #fff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  margin-right: 15px;
  max-width: 300px;
}

.event-card p {
  font-weight: normal;
  margin-bottom: 0px;
}

.event-card .description {
  margin-top: 8px;
}

.event-card .date {
  padding-top: 11px;
  line-height: 20px;
  padding-bottom: 2px;
}

.home .event-card .linkArea {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.event-card .dateBlock {
  padding: 0.75em;
  background-color: #D39F10;
  color: #001E45;
  text-align: center;
  min-width: calc(1.5em + 40px);
  font-family: GPCMed, Helvetica, sans-serif;
  margin-right: 1em;
}

.event-card .dateBlock > * {
  display: block;
}

.event-card .dateBlock .dateNum {
  font-size: 1.5em;
  font-weight: 800;
}

.event-card .dateBlock .dateMonth {
  font-size: 1em;
  text-transform: uppercase;
}

.event-card .date, .event-card .time, .news .author, .news .published {
  font-style: normal;
  font-size: 14px;
  padding: 6px 0px;
  color: #5D6A83;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
}

.event-card .time, .news .separator {
  margin-left: 1em;
  padding-left: 1em;
}

.event-card .time:before, .news .separator:before {
  content: "•";
  margin-left: -1em;
  padding-right: 1em;
  display: inline-block;
}

.home .event-card:last-of-type {
  margin-bottom: 36px;
}

.card-image {
  display: none;
}

@media only screen and (min-width: 62em) {
  .card-image {
    display: block;
  }
}

.card-divider {
  margin: 40px auto 21px;
  border-color: #c6cbd6;
  border-width: 1px;
}

.home .card-divider {
  margin: 1em 0;
}
