.headerText {
  flex: 0 0 auto;
  background-color: #0C2340;
  color: #fff;
  cursor: default;
  display: inline-block;
  line-height: 20px;
  padding: 12px 20px 10px;
  margin: 0;
  font-size: 1em;
  font-family: GPMed, sans-serif;
}

.filter {
  width: 100%;
  min-width: 288px;
  display: block;
  background-color: #072242;
  color: #fff;
  min-height: 45px;
}

.filter label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.filter input {
  flex: 1 0 auto;
  line-height: 22px;
  padding: 5px;
  font-size: 14px;
  border: solid 1px #000;
  margin: 5px 5px 5px 0;
  max-width: 350px;
}
