.landing {
  width: 80%;
  float: left
}

.group {
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	padding-bottom: 10px;
	margin-bottom: 20px;
	float: left;
	clear: left;
	width: 100%;
	position: relative;
	padding-bottom:1em;

}
/*
.group:after {
	content: '▲ Top';
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px;
	border: solid 1px #999;
	border-width: 1px 0 0 1px;
	cursor: pointer;
}

.group:after:hover {
	background: #ccc;
}
*/
.group h2 {

  background-image: url('../../../static/images/jesus.2.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #072242;
	color: #fff;

	width: 100%;

		-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
    padding: 20px;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 32px;
    max-width: 100%;
    margin-bottom: 0;
}

.group h2 span {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}



.group p {
	padding: 20px 20px 0;
	margin-bottom: 0;


}

.group p span {
	margin-left: 1.5em;
	padding-top: .7em;

}

.linksgroup {
	-moz-column-count: 2;
	column-count: 2;
	float: left;
	width: 100%;
}

.col-md-6 .linksgroup {
  -moz-column-count: 1;
  column-count: 1;
}

.linksgroup p {
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.side-nav-bg {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding: 1em 1em 3em;
}

@media screen and (min-width: 157px) {
  .side-nav {
    transform: translateX(calc(1200px - 232px));
    width: 232px;
  }

  .side-nav.col-md-4 {
    transform: translateX(calc(1200px - 400px));
    width: 400px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1570px) {
  .side-nav {
    transform: translateX(calc(1200px - 262px));
    width: 232px;
  }

  .side-nav.col-md-4 {
    transform: translateX(calc(1200px - 430px));
    width: 389px;
  }
}

@media screen and (min-width: 981px) and (max-width: 1199px) {
  .side-nav {
    transform: translateX(calc(80vw - 1em));
    width: calc(20vw - 1em);
  }

  .side-nav.col-md-4 {
    transform: translateX(calc(80vw - 11em));
    width: calc(30vw);
  }
}

@media screen and (max-width: 980px) {
  .row.landing {
    width: 100%;
  }

  .side-nav {
    display: none;
  }
}

.side-nav ul {
	padding-left: 10px;
	margin: 0;
}

.side-nav li {
	margin-bottom: .4em;
}

a.side-anchors {
  text-decoration: none;
  font-weight: bold;
}

.side-nav ul {
  -webkit-padding-start: 15px;
}
ul a.side-anchors {
  list-style: none;
}

a.side-anchors li {
  color: #935f1e;
  padding-bottom: .2em
}
a.side-anchors::before {
  content: "›";
  position: absolute;
  margin-left: -15px;
}

.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}
@media screen and (max-width: 780px) {
	.linksgroup {
		-moz-column-count: 1;
		column-count: 1;
	}
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}
