.news-card img {
  float: left;
  border: solid 2px #fff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  margin-right: 15px;
  max-width: 275px;
}

.timeline {
  background: #fff;
  padding: 3px 6px;
  box-shadow: 0px 0px 2px rgba(0,0,0,.3);
  clear: both;
}

.event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  grid-gap: 3em;
  margin-bottom: 3em;
}

.date-as-calendar {
	float: left;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-family: GPCBook, sans-serif;

  /* It seems vertical-align: baseline does not work correctly with display: inline-flex. */
  vertical-align: top;



}

.events-listing .event-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 !important;
}

.events-listing .event-card-text {
  order: 1;
  padding: 10px 10px 0;
  width: 100%;
}

.events-listing time {
  order: 2;
  padding: 0 10px ;
}

.events-listing .description {
  order: 3;
  padding: 0 10px ;
}

.date-as-calendar,
.news-card img {
  color: #999;
  background: white;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  margin-right: 15px;
  max-width: 225px;
}

.date-as-calendar .weekday,
.date-as-calendar .day,
.date-as-calendar .month,
.date-as-calendar .year {
  text-align: center;
  line-height: 1.0;
}

.date-as-calendar .month {
  text-transform: uppercase;
  background: #aa272f;
  color: white;
}

.inline-flex.date-as-calendar {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;



}
.inline-flex.date-as-calendar .weekday,
.inline-flex.date-as-calendar .day,
.inline-flex.date-as-calendar .month,
.inline-flex.date-as-calendar .year {
  display: block;
  flex: 1 1 auto;
}
.inline-flex.date-as-calendar .month {
  order: 1;
  font-size: 1em;
  padding: 0.3em 0 ;
}
.inline-flex.date-as-calendar .weekday {
  order: 2;
  font-size: 0.6125em;
  padding: 3px 0;
}
.inline-flex.date-as-calendar .day {
  order: 3;
  font-size: 2em;
}
.inline-flex.date-as-calendar .year {
  order: 4;
  font-size: 0.87750em;
  padding: 3px 0;
}

.events-listing .cover {
  width: 350px;
}
