.search-results a {
  text-decoration: none;
  font-size: 110%;
}
a .search-result-title {

}

a .search-result-display-link {
  color: #696969;
  font-size: .9rem;
  margin-bottom: .5rem;
}

a .search-result-snippet {
  color: black;
  margin-bottom: 2rem;
}
