#advanced-search {
	display: grid;
	grid-template-columns: 2fr 295px;
	-ms-grid-columns: 2fr 295px;


}

#advanced-search select {
	background:  #0c2340;
	min-width: auto;
	padding-right: 18px;
	position: static;
}

#advanced-search .selector {
	position: relative;
	height: 40px;
}

.dateFieldSelector {
  display: inline-block;
}

#advanced-search .selector:after {
    content:'▶';
    font:11px "Consolas", monospace;
    color:#fff;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:7px;
    top:1px;
    padding: 0;
    position:absolute;
    pointer-events:none;

}

#advanced-search option {
	padding: 6px;
}

#advanced-search input {
	padding: 6px;

}

#advanced-search .dateFieldSelector input {
	max-width: 50px;
}

fieldset {
	display: inline-block;
	padding: 0;
	border: none;
}

#advanced-search label {
	display: inline-block;
	min-width: 100px;
	font-size: 12px;
}

.asleft {

	width: 100%;
	display: grid;
	grid-template-columns: 1fr 64px;
	padding-right: 3em;
	grid-template-rows: 40px 40px;
	height: auto;

}

.asleft fieldset {
	display: grid;
	grid-template-columns: 150px 100px auto;
	padding-right: 6px;
	height: 40px;
	margin: 0 !important;

}

#advanced-search .asleft fieldset input {
	margin: 0;
	padding: 0 6px;
	height: auto;
	height: 3em;
}

#advanced-search .asleft  .selector::after { 
	top: 10px !important;
	right: 10px;
}

#advanced-search .asright  .selector::after {
	right: 10px;
}

.asright {
	-ms-grid-column:  3;
}

#advanced-search .asright fieldset {
	margin: 0;
}

.asgo {
	-ms-grid-row:  2;
}

select::-ms-expand {
    display: none;
}
#search-type-title {
  color: white;
  margin-bottom: 10px;
}

@media screen and (max-width: 804px) {
  #advanced-search {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
  }
  .asleft {
    -ms-grid-column:  1;
    width: 100%;

    -ms-grid-column-span: 1;
  }

  .asright {
    -ms-grid-column:  1;
  }

  .asgo {
    -ms-grid-row:  1;
  }
}


#advanced-search fieldset, #advanced-search .dateFieldSelector, #materialType, #language, #scopesListAdvanced {
  margin: 3px 0px;
}

#advanced-search select {
  margin-right: 3px;
}

#advanced-search input {
  margin-top: 3px;
}
