.service-point-list {
	
}

.service-point {
	width: 100%;


}

.service-point h4 {
	font-size: 22px;
	font-family: GPCBold, sans-serif;
	background: #fff;
	border: solid #333;
	border-width: 0 1px 1px 8px;
	padding: 0 10px;
	border-left-color: #AA272F; /* red */
	border-left-color: #999623;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	-ms-grid-columns: 2fr 1fr 1fr;
}

.hours-listing {
	padding: 20px;
}

.location {
	padding: 10px 0;
	-ms-grid-column: 1;
}

.today {
	background: #999623;
	padding: 10px;
	color: #fff;
	font-family: GPCBook, sans-serif;
	-ms-grid-column: 2;
}

.ecarrow {
		-ms-grid-column: 3;
}

.expand, .collapse {
	float: right;
	cursor: pointer;
	margin: 20px 0 10px;
	height: 0;
	overflow: hidden;
	padding-top: 17px;
	width: 34px;


}

.expand {
	background: url('../../../static/images/arrow.g.d.png') no-repeat;
	
}
.collapse {
	background: url('../../../static/images/arrow.g.u.png') no-repeat;
	
}

.hours-grid {
	margin-top: 0;
	width: 100%;
	line-height: 1.4em;
}

.service-point h5 {
	font-size: 18px;
}

@media screen and (max-width: 800px) {
	.location {
		padding-left: 10px;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.service-point h4 {
		padding-left: 0;
		padding-right: 0;
	}

	.today {
		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.ecarrow {
		margin-right: 10px;
	}

}

