.service-point-list {
	
}

.service-point {
	width: 100%;


}

.service-point h4 {
	font-size: 32px;
	background-image: none;

	padding: 0;


	width: auto;



	margin: 0 0 0 0;
	padding: 10px;

}

.hours-grid {
	margin-top: 0;
	width: 100%;
	line-height: 1.4em;
}

.service-point h5 {
	font-size: 18px;
}

@media screen and (max-width: 800px) {
	.service-point-list  {
		grid-template-columns: 1fr;
	}

	.service-point h4 {
		font-size: 24px;
		min-width: 90px;
		max-width: 90px;
	}
}

