.newsList {
  display: flex;
  flex-flow: row wrap;
}

.newsList > * {
  flex-basis: 100%;
}

@media screen and (min-width: 621px) {
  .newsList {
    flex-flow: row wrap;
  }

  .newsList > * {
    flex-basis: 50%;
  }
}
