/*
.newsList {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.newsList > * {
  flex: 1 1 100%;
}

@media screen and (min-width: 621px) {
  .newsList {
    flex-flow: row nowrap;
  }

  .newsList > * {
    flex-basis: 33%;
  }
}
*/
