.newsList:not(.legacy) {
  display: flex;
  flex-flow: row wrap;
}

.newsList:not(.legacy) > * {
  flex-basis: 100%;
}

@media screen and (min-width: 621px) {
  .newsList:not(.legacy) {
    flex-flow: row wrap;
  }

  .newsList:not(.legacy) > * {
    flex-basis: 50%;
  }
}
