.alerts {
  width: 100%;
}

.alerts a,
.alertContainer .hideAlert,
.showHiddenBar {
  color: #0b1f40;
}

.alertSection.informational,
.alertSection.informationalYellow,
.alertSection.warning,
.alertSection.serviceUnavailable {
  border: solid 2px #AA272F;
}

.alertSection.informational {
  background-color: #FFB073;
}

.alertSection.informationalYellow {
  background-color: #F8E999;
}

.alertSection.warning {
  background-color: #FC7279;
}

.alertSection.serviceUnavailable {
  background-color: #AA272F;
}

.alertSection.serviceAvailable,
.alertSection.serviceLimited {
  background-color: #028039;
  border: solid 2px #028039;
}

.alertSection.informational .alertContainer,
.alertSection.informationalYellow .alertContainer,
.alertSection.warning .alertContainer,
.alertSection.serviceAvailable .alertContainer,
.alertSection.serviceLimited .alertContainer,
.alertSection.serviceUnavailable .alertContainer {
  background-size: 1.5em;
  background-position: left center;
  background-repeat: no-repeat;
}

.alertSection.informational .alertContainer,
.alertSection.informationalYellow .alertContainer {
  background-image: url('../../../static/images/ic_info_outline_dark_24px.svg');
}

.alertSection.warning .alertContainer {
  background-image: url('../../../static/images/alert-dark.svg');
}

.alertSection.serviceAvailable .alertContainer {
  background-image: url('../../../static/images/service-full.svg');
}

.alertSection.serviceLimited .alertContainer {
  background-image: url('../../../static/images/service-partial.svg');
}

.alertSection.serviceUnavailable .alertContainer {
  background-image: url('../../../static/images/service-closed.svg');
}

.alertSection.serviceAvailable .alertContainer .description,
.alertSection.serviceAvailable .alertContainer .description p,
.alertSection.serviceLimited .alertContainer .description,
.alertSection.serviceLimited .alertContainer .description p,
.alertSection.serviceUnavailable .alertContainer .description,
.alertSection.serviceUnavailable .alertContainer .description p {
  color: #FFFFFF;
}

.alertContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 34px;
  padding-top: 12px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.alertContainer .description,
.alertContainer .description p {
  flex: 1 1 auto;
  line-height: normal;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
}

.alertContainer .description p:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.alertContainer .hideAlert {
  flex: 0 0 auto;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 1em;
  margin-top: 4px;
}

.showHiddenBar {
  background-color: #fed43c;
  padding: 0.25em 20px;
  text-align: right;
}
.showHiddenContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.showHiddenButton {
  text-decoration: underline;
  cursor: pointer;
}