.alerts {
  width: 100%;
}

.alerts a,
.alertContainer .hideAlert,
.showHiddenBar {
  color: #0b1f40;
}

.alertSection.informational {
  background-color: #FFB073;
  border: solid 2px #AA272F;
}

.alertSection.informationalYellow {
  background-color: #F8E999;
  border: solid 2px #AA272F;
}

.alertSection.informational .alertContainer,
.alertSection.informationalYellow .alertContainer {
  background: url('../../../static/images/ic_info_outline_white_24px.svg') no-repeat;
  background-size: 1.5em;
  background-position: left center;
}

.alertSection.warning {
  background-color: #FC7279;
  border: solid 2px #AA272F;
}

.alertSection.warning .alertContainer {
  background: url('../../../static/images/alert.svg') no-repeat;
  background-size: 1.5em;
  background-position: left center;
}

.alertContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 34px;
  padding-top: 12px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.alertContainer .description {
  flex: 1 1 auto;
  line-height: normal;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
}

.alertContainer .hideAlert {
  flex: 0 0 auto;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 1em;
  margin-top: 4px;
}

.showHiddenBar {
  background-color: #fed43c;
  padding: 0.25em 20px;
  text-align: right;
}
.showHiddenContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.showHiddenButton {
  text-decoration: underline;
  cursor: pointer;
}